[package]
name = "vexide-async"
version = "0.1.6"
edition = "2021"
license = "MIT"
description = "The async executor at the core of vexide"
keywords = ["Robotics", "bindings", "async", "vex", "v5"]
categories = ["no-std", "science::robotics", "asynchronous"]
repository = "https://github.com/vexide/vexide"
authors = [
    "vexide",
    "Gavin Niederman <gavinniederman@gmail.com>",
    "doinkythederp <doinkythederp@icloud.com>",
    "Tropical",
]

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
async-task = { version = "4.5.0", default-features = false }
vexide-core = { workspace = true }
waker-fn = "1.1.1"
vex-sdk = { workspace = true }

[lints]
workspace = true

[package.metadata.docs.rs]
targets = ["armv7a-none-eabi"] # Not actually, but this is at least close.
