[package]
name = "vexide-async"
version = "0.1.0"
edition = "2021"
license = "MIT"
description = "The async executor at the core of vexide"
keywords = ["PROS", "Robotics", "bindings", "async", "vex", "v5"]
categories = [
    "no-std",
    "science::robotics",
    "Asynchronous"
]
repository = "https://github.com/vexide/vexide"
authors = [
    "vexide",
    "Gavin Niederman <gavinniederman@gmail.com>",
    "doinkythederp <doinkythederp@icloud.com>",
]

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
async-task = { version = "4.5.0", default-features = false }
vexide-core = { version = "0.1.0", path = "../vexide-core" }
waker-fn = "1.1.1"
vex-sdk = "0.9.0"
lazy_static = { version = "1.4.0", features = ["spin_no_std"] }

[lints]
workspace = true
