[package]
name = "vexide-async"
version = "0.2.0-rc.1"
edition =  "2024"
license = "MIT"
description = "Tiny async executor for vexide."
keywords = ["Robotics", "bindings", "async", "vex", "v5"]
categories = ["no-std", "science::robotics", "asynchronous"]
repository = "https://github.com/vexide/vexide"
authors = [
    "vexide",
    "Gavin Niederman <gavinniederman@gmail.com>",
    "Lewis McClelland <lewis@lewismcclelland.me>",
    "Tropical",
]

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[features]
sync = ["dep:async-lock"]

[dependencies]
async-task = { version = "4.5.0", default-features = false }
async-lock = { version = "3.4.1", optional = true }
futures-util = { version = "0.3.31", default-features = false }
waker-fn = "1.1.1"
vex-sdk = { workspace = true }

[dev-dependencies]
vex-sdk-mock = { workspace = true }
vexide = { path = "../vexide", features = [
    "full",
    "vex-sdk-mock",
    "vex-sdk-jumptable",
] }

[lints]
workspace = true

[package.metadata.docs.rs]
targets = ["armv7a-vex-v5"]
cargo-args = [
    "-Zbuild-std=std,panic_abort",
    "-Zbuild-std-features=compiler-builtins-mem",
]
