[package]
name = "vexide-core"
version = "0.8.0"
edition =  "2024"
license = "MIT"
description = "Low-level core functionality for vexide."
keywords = ["Robotics", "bindings", "vex", "v5"]
categories = ["api-bindings", "no-std", "science::robotics"]
repository = "https://github.com/vexide/vexide"
authors = [
    "vexide",
    "Gavin Niederman <gavinniederman@gmail.com>",
    "Lewis McClelland <lewis@lewismcclelland.me>",
    "Tropical",
]

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
vex-sdk = { workspace = true }
bitflags = "2.4.2"
futures-core = { version = "0.3.30", default-features = false, features = [
    "alloc",
] }
pin-project = "1.1.5"

[dev-dependencies]
vexide = { path = "../vexide", features = [
    "full",
    "vex-sdk-mock",
    "vex-sdk-jumptable",
] }

[target.'cfg(target_vendor = "vex")'.dependencies]
vex-libunwind = { workspace = true, optional = true }

[lints]
workspace = true

[features]
default = ["backtrace"]
backtrace = ["dep:vex-libunwind"]

[package.metadata.docs.rs]
targets = ["armv7a-vex-v5"]
cargo-args=[
    "-Zbuild-std=core,alloc,compiler_builtins",
    "-Zbuild-std-features=compiler-builtins-mem"
]
