[package]
name = "vexide-core"
version = "0.5.2"
edition = "2021"
license = "MIT"
description = "Core functionality for vexide"
keywords = ["Robotics", "bindings", "vex", "v5"]
categories = ["api-bindings", "no-std", "science::robotics"]
repository = "https://github.com/vexide/vexide"
authors = [
    "vexide",
    "Gavin Niederman <gavinniederman@gmail.com>",
    "doinkythederp <doinkythederp@icloud.com>",
    "Tropical",
]

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
vex-sdk = { workspace = true }
no_std_io = { version = "0.6.0", features = ["alloc"] }
snafu = { workspace = true }
talc = "4.3.1"
lock_api = "0.4.11"
bitflags = "2.4.2"
futures-core = { version = "0.3.30", default-features = false, features = [
    "alloc",
] }
pin-project = "1.1.5"
replace_with = { version = "0.1.7", default-features = false }
libm = { version = "0.2.8", optional = true }

[target.'cfg(target_vendor = "vex")'.dependencies]
vex-libunwind = { version = "0.1.0", git = "https://github.com/vexide/vex-libunwind.git", optional = true }

[target.'cfg(not(target_vendor = "vex"))'.dependencies]
libm = "0.2.8"

[lints]
workspace = true

[features]
default = ["backtraces"]
force_rust_libm = ["dep:libm"]
backtraces = ["dep:vex-libunwind"]

[package.metadata.docs.rs]
targets = ["armv7a-none-eabi"] # Not actually, but this is at least close.
