[build]
target = "./armv7a-vex-v5.json"

[target."cfg(target_vendor = \"vex\")"]
runner = "cargo v5 run --file"

[unstable]
build-std = ["core", "compiler_builtins", "alloc"]
build-std-features = ["compiler-builtins-mem"]
