[package]
name = "vexide"
version = "0.8.0"
edition =  "2024"
description = "Open-source Rust runtime for VEX robots."
keywords = ["Robotics", "bindings", "vex", "v5"]
categories = ["os", "api-bindings", "no-std", "science::robotics"]
license = "MIT"
repository = "https://github.com/vexide/vexide"
readme = "../../README.md"
authors = [
    "vexide",
    "Gavin Niederman <gavinniederman@gmail.com>",
    "Lewis McClelland <lewis@lewismcclelland.me>",
    "Tropical",
]
rust-version = "1.92.0"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
vexide-async = { workspace = true, optional = true }
vexide-devices = { workspace = true, optional = true, features = ["std"] }
vexide-core = { workspace = true, optional = true }
vexide-startup = { workspace = true, optional = true }
vexide-macro = { workspace = true, optional = true }
vex-sdk = { workspace = true }

[features]
default = ["async", "sync", "devices", "core"]
full = [
    "default",
    "macros",
    "startup",
    "backtrace",
    "allocator",
    "panic-hook",
    "abort-handler",
]
default-sdk = [
    "vex-sdk-jumptable",
    "vex-sdk-mock",
]

macros = ["dep:vexide-macro"]

async = ["dep:vexide-async"]
sync = ["dep:vexide-async", "vexide-async/sync"]

core = ["dep:vexide-core"]
backtrace = [
    "dep:vexide-core",
    "vexide-core/backtrace",
    "vexide-startup/backtrace",
]

startup = ["dep:vexide-startup"]
panic-hook = ["vexide-startup/panic-hook"]
abort-handler = ["vexide-startup/abort-handler"]

allocator = ["dep:vexide-startup", "vexide-startup/allocator"]
vex-sdk-jumptable = ["vexide-startup/vex-sdk-jumptable"]
vex-sdk-vexcode = ["vexide-startup/vex-sdk-vexcode"]
vex-sdk-pros = ["vexide-startup/vex-sdk-pros"]
vex-sdk-mock = ["vexide-startup/vex-sdk-mock"]

devices = ["dep:vexide-devices"]
embedded-io = ["vexide-devices/embedded-io"]
dangerous-motor-tuning = ["vexide-devices/dangerous-motor-tuning"]

[package.metadata.docs.rs]
targets = ["armv7a-vex-v5"]
cargo-args = [
    "-Zbuild-std=std,panic_abort",
    "-Zbuild-std-features=compiler-builtins-mem",
]
