[package]
name = "vexide"
version = "0.6.1"
edition = "2021"
description = "async/await powered Rust library for VEX V5 Brains"
keywords = ["Robotics", "bindings", "vex", "v5"]
categories = ["os", "api-bindings", "no-std", "science::robotics"]
license = "MIT"
repository = "https://github.com/vexide/vexide"
readme = "../../README.md"
authors = [
    "vexide",
    "Gavin Niederman <gavinniederman@gmail.com>",
    "doinkythederp <doinkythederp@icloud.com>",
    "Tropical",
]
rust-version = "1.75.0"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
vexide-async = { workspace = true, optional = true }
vexide-devices = { workspace = true, optional = true }
vexide-panic = { workspace = true, optional = true }
vexide-core = { workspace = true, optional = true }
vexide-startup = { workspace = true, optional = true }
vexide-macro = { workspace = true, optional = true }
vex-sdk = { workspace = true }

[features]
default = [
    "async",
    "devices",
    "panic",
    "display_panics",
    "core",
    "startup",
    "macro",
    "backtraces",
]

macro = ["dep:vexide-macro", "startup", "async", "core", "devices"]

core = ["dep:vexide-core"]
backtraces = ["core", "vexide-core/backtraces"]
force_rust_libm = ["core", "vexide-core/force_rust_libm"]
allocator = ["core", "vexide-core/allocator", "vexide-startup/allocator"]

startup = ["dep:vexide-startup"]

async = ["dep:vexide-async"]

devices = ["dep:vexide-devices"]
dangerous_motor_tuning = ["devices", "vexide-devices/dangerous_motor_tuning"]
smart_leds_trait = ["devices", "vexide-devices/smart_leds_trait"]

panic = ["dep:vexide-panic"]
display_panics = ["panic", "vexide-panic/display_panics"]

[package.metadata.docs.rs]
targets = ["armv7a-none-eabi"] # Not actually, but this is at least close.
