[package]
name = "vexide-panic"
version = "0.1.8"
edition = "2021"
license = "MIT"
description = "Panic handler for vexide"
keywords = ["Robotics", "vex", "v5"]
categories = ["no-std", "science::robotics"]
repository = "https://github.com/vexide/vexide"
authors = [
    "vexide",
    "Gavin Niederman <gavinniederman@gmail.com>",
    "doinkythederp <doinkythederp@icloud.com>",
    "Tropical",
]

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
vexide-core = { workspace = true }
vexide-devices = { workspace = true, optional = true }
vex-sdk = { workspace = true }
snafu = { workspace = true }

[features]
default = ["display_panics", "backtraces"]

display_panics = ["dep:vexide-devices"]
backtraces = ["vexide-core/backtraces"]

[lints]
workspace = true

[package.metadata.docs.rs]
targets = ["armv7a-none-eabi"] # Not actually, but this is at least close.
