[package]
name = "vexide-graphics"
version = "0.1.6-rc.1"
edition = "2021"
license = "MIT"
description = "Graphics driver implementations for vexide"
keywords = ["Robotics", "graphics", "vex", "v5"]
authors = [
    "vexide",
    "Gavin Niederman <gavinniederman@gmail.com>",
    "doinkythederp <doinkythederp@icloud.com>",
    "Tropical",
]
repository = "https://github.com/vexide/vexide"

[dependencies]
embedded-graphics-core = { version = "0.4.0", optional = true }
slint = { version = "1.5.1", default-features = false, optional = true, features = [
    "compat-1-2",
    "unsafe-single-threaded",
    "libm",
    "renderer-software",
] }
vex-sdk = { workspace = true }
vexide-async = { workspace = true }
vexide-core = { workspace = true }
vexide-devices = { workspace = true }

[lints]
workspace = true

[features]
default = []

embedded-graphics = ["dep:embedded-graphics-core"]
slint = ["dep:slint"]

[package.metadata.docs.rs]
targets = ["armv7a-none-eabi"] # Not actually, but this is at least close.
