[package]
name = "vexide-devices"
version = "0.5.1"
edition = "2021"
license = "MIT"
description = "High level device bindings for vexide"
keywords = ["Robotics", "bindings", "vex", "v5"]
categories = ["api-bindings", "no-std", "science::robotics"]
repository = "https://github.com/vexide/vexide"
authors = [
    "vexide",
    "Gavin Niederman <gavinniederman@gmail.com>",
    "doinkythederp <doinkythederp@icloud.com>",
    "Tropical",
]

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
vexide-core = { workspace = true }
vex-sdk = { workspace = true }
snafu = { workspace = true }
mint = "0.5.9"
rgb = "0.8.50"
no_std_io = { version = "0.6.0", features = ["alloc"] }
bitflags = "2.4.2"
smart-leds-trait = { version = "0.3.0", optional = true }

[lints]
workspace = true

[features]
dangerous_motor_tuning = []
smart_leds_trait = ["dep:smart-leds-trait"]

[package.metadata.docs.rs]
all-features = true # Show optional APIs
targets = ["armv7a-none-eabi"] # Not actually, but this is at least close.
