[package]
name = "vexide-devices"
version = "0.4.1"
edition = "2021"
license = "MIT"
description = "High level V5 hardware bindings for vexide"
keywords = ["Robotics", "bindings", "vex", "v5"]
categories = ["api-bindings", "no-std", "science::robotics"]
repository = "https://github.com/vexide/vexide"
authors = [
    "vexide",
    "Gavin Niederman <gavinniederman@gmail.com>",
    "doinkythederp <doinkythederp@icloud.com>",
    "Tropical",
]

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
vexide-core = { workspace = true }
vex-sdk = { workspace = true }
snafu = { workspace = true }
mint = "0.5.9"
bitflags = "2.4.2"
smart-leds-trait = { version = "0.3.0", optional = true }
nalgebra = { version = "0.32", default-features = false, optional = true, features = [
    "convert-mint",
] }

[lints]
workspace = true

[features]
dangerous_motor_tuning = []
std = []
smart_leds_trait = ["dep:smart-leds-trait"]
nalgebra = ["dep:nalgebra"]
