name: Rust

on: [push, pull_request, workflow_dispatch]

jobs:
    # Check and lint are separated because linting doesn't seem to fail
    # if there are errors are outside of the PR's changes.
    check:
        name: Build/Test
        runs-on: ubuntu-latest
        steps:
            - name: Setup | Checkout
              uses: actions/checkout@v6

            - name: Setup | Toolchain
              run: rustup toolchain install --profile minimal

            - name: Setup | Build cache
              uses: Swatinem/rust-cache@v2

            - name: Check Crates
              uses: actions-rs/cargo@v1
              with:
                  command: check
                  args: --target=armv7a-vex-v5 -Zbuild-std=std,panic_abort -Zbuild-std-features=compiler-builtins-mem -p vexide --features "full vex-sdk-jumptable"

            - name: Check Examples
              uses: actions-rs/cargo@v1
              with:
                  command: check
                  args: --target=armv7a-vex-v5 -Zbuild-std=std,panic_abort -Zbuild-std-features=compiler-builtins-mem --bins --examples

            - name: Test
              uses: actions-rs/cargo@v1
              with:
                  command: test
                  args: --all --lib --bins --examples

            - name: Doctest
              uses: actions-rs/cargo@v1
              with:
                  command: test
                  args: --all --doc
    lint:
        name: Lint
        runs-on: ubuntu-latest
        steps:
            - name: Setup | Checkout
              uses: actions/checkout@v6

            - name: Setup | Toolchain
              run: rustup toolchain install --profile minimal

            - name: Setup | Build cache
              uses: Swatinem/rust-cache@v2

            - uses: giraffate/clippy-action@v1
              with:
                  reporter: "github-pr-check"
                  github_token: ${{ secrets.GITHUB_TOKEN }}
                  clippy_flags: --all --target=armv7a-vex-v5 -Zbuild-std=std,panic_abort -Zbuild-std-features=compiler-builtins-mem --lib --bins --examples --features "full vex-sdk-jumptable"
    fmt:
        name: Rustfmt
        runs-on: ubuntu-latest
        steps:
            - name: Setup | Checkout
              uses: actions/checkout@v6

            - name: Setup | Toolchain
              run: rustup toolchain install --profile minimal

            - name: Setup | Install Rustfmt
              run: rustup component add rustfmt

            - name: Format
              uses: actions-rs/cargo@v1
              with:
                  command: fmt
                  args: --all -- --check
