name: Rust

on: [push, pull_request, workflow_dispatch]

jobs:
    check:
        name: Build/Test
        runs-on: ubuntu-latest
        steps:
            - name: Setup | Checkout
              uses: actions/checkout@v6

            - name: Setup | Toolchain
              run: rustup toolchain install --profile minimal

            - name: Setup | Build cache
              uses: Swatinem/rust-cache@v2

            - name: Check Crates (VEXos)
              run: cargo check --target=armv7a-vex-v5 -p vexide --features "full default-sdk"

            - name: Check Examples (VEXos)
              run: cargo check --target=armv7a-vex-v5 --bins --examples

            - name: Test (Desktop)
              run: cargo test --workspace --all-targets

            - name: Doctest (Desktop)
              run: cargo test --workspace --doc
    lint:
        name: Lint
        runs-on: ubuntu-latest
        steps:
            - name: Setup | Checkout
              uses: actions/checkout@v6

            - name: Setup | Toolchain
              run: rustup toolchain install --profile minimal

            - name: Setup | Install clippy
              run: rustup component add clippy

            - name: Setup | Build cache
              uses: Swatinem/rust-cache@v2

            - name: Clippy
              run: cargo clippy --workspace --all-targets --features "full default-sdk"
              env:
                RUSTFLAGS: "-Dwarnings"
    fmt:
        name: Rustfmt
        runs-on: ubuntu-latest
        steps:
            - name: Setup | Checkout
              uses: actions/checkout@v6

            - name: Setup | Toolchain
              run: rustup toolchain install --profile minimal

            - name: Setup | Install Rustfmt
              run: rustup component add rustfmt

            - name: Check formatting
              run: cargo fmt --all --check
