name: Rust

on: [push, pull_request, workflow_dispatch]

jobs:
    # Check and lint are separated because linting doesn't seem to fail
    # if there are errors are outside of the PR's changes.
    check:
        name: Build/Test
        runs-on: ubuntu-latest
        steps:
            - name: Setup | Checkout
              uses: actions/checkout@v6

            - name: Setup | Toolchain
              run: rustup toolchain install --profile minimal

            - name: Setup | Build cache
              uses: Swatinem/rust-cache@v2

            - name: Check Crates (VEXos)
              run: cargo check --target=armv7a-vex-v5 -p vexide --features "full default-sdk"

            - name: Check Examples (VEXos)
              run: cargo check --target=armv7a-vex-v5 --bins --examples

            - name: Test (Desktop)
              run: cargo test --all --lib --bins --examples

            - name: Doctest (Desktop)
              run: cargo test --all --doc
    lint:
        name: Lint
        runs-on: ubuntu-latest
        steps:
            - name: Setup | Checkout
              uses: actions/checkout@v6

            - name: Setup | Toolchain
              run: rustup toolchain install --profile minimal

            - name: Setup | Build cache
              uses: Swatinem/rust-cache@v2

            - uses: giraffate/clippy-action@v1
              with:
                  reporter: 'github-check'
                  github_token: ${{ secrets.GITHUB_TOKEN }}
                  clippy_flags: --all --lib --bins --examples --features "full vex-sdk-jumptable"
                  reviewdog_flags: -fail-level=any
    fmt:
        name: Rustfmt
        runs-on: ubuntu-latest
        steps:
            - name: Setup | Checkout
              uses: actions/checkout@v6

            - name: Setup | Toolchain
              run: rustup toolchain install --profile minimal

            - name: Setup | Install Rustfmt
              run: rustup component add rustfmt

            - name: Check formatting
              run: cargo fmt --all --check
